.Media {
    position: relative;
    bottom: 15em;
}

.seccionMedia {
    width: 60em;
    margin: 0 auto;
}

.cabeceraMedia {
    width: 100%;
    background: #497bb8;
    background-size: 1000px;
}

.imgMedia {
    width: 100%;
}

.subtituloMedia {
    font-size: 2.2em;
    font-style: italic;
    color: #606060;
    text-align: left;
    font-weight: 700;
    margin: 1.5em 0;
}

.seccionMedia div.tituloImg1 {
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: #6b93b9;
    font-style: italic;
}

.tituloMedia {
    font-size: 2.5em;
    font-weight: 800;
    font-style: italic;
    color: #000000;
    margin-bottom: 30px;
}

.seccionImgMedia {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    justify-content: center;
}

.seccionImgMedia a {
    width: 50%;
}

.sImgMedia {
    width: 99%;
    margin: 0.2em;
}

.seccionDigital {
    background: #fff;
    background-size: 1000px;
    padding: 2em 0;
    margin: 1em 0 0;
}

.seccionDigital h2 {
    font-size: 2.5em;
    font-weight: 800;
    font-style: italic;
    color: #497bb8;
    margin: 40px 0;
}

.seccionBienvenida {
    width: 60em;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}

.seccionBienvenida .sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub .seccionDegreed {
    margin-top: 1em;
    text-align: center !important;
}

.sub .seccionDegreed a,
.seccionCRM div p a {
    font-size: 1.3em;
    font-weight: 500;
}

.imgMediaBienvenida {
    width: 70%;
    margin: 0 4em;
}

.imgMediaCelular {
    width: 70%;
    margin: 0 4em;
}

.textoBienvenida {
    font-size: 1.3em;
    margin: 0;
}

.textoBienvenida.negrita {
    font-size: 2em;
    font-weight: 600;
}

div.suscribirse {
    display: flex;
}

.correoMedia {
    width: 15em;
    font-size: 1.2em;
    padding: 0.7em;
    border-radius: 2em;
    background: #ebebeb;
    border: 0;
    outline: none;
    background-color: #ebebeb;
    border: 0;
}

.btn_suscribir {
    width: auto;
    padding: 15px 25px;
    border-radius: 10em;
    font-weight: 500;
    color: #fff;
    border: 0;
    font-size: 1em;
    background: #df1b16;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 0.4em;
    text-align: center;
}

h3.noMostrar {
    display: none;
}

h3.mostrar {
    display: block;
    margin-top: 0.5em;
    font-weight: 500;
    color: #df1b16;
    text-align: center;
}

.btn-primary {
    color: #fff;
    background-color: #df1b16;
    border-color: #df1b16;
}

.btn-primary:hover {
    color: #fff;
    background-color: #df1b16;
    border-color: #df1b16;
}

.titulo_correo {
    margin-top: 3em;
}

.seccionCRM {
    width: 70%;
    margin: 32px auto;
    font-size: 1.2em;
}

.seccionCRM h2 {
    color: #b13d50;
    font-style: italic;
    font-weight: 900;
    font-size: 2.5rem;
}

.seccionCRM div {
    margin-top: 40px;
    display: flex;
    align-items: center;
    text-align: left;
}

.seccionCRM div img {
    width: 50%;
}

.lineaDivisora {
    width: 100%;
}

.lineaDivisora.ln {
    position: relative;
    bottom: 12px;
    z-index: 1000;
}

.seccionTitleColor {
    background: url(../img/Media/colores.jpg);
    background-size: 100%;
}

.seccionTitleColor h2 {
    color: #fff;
    font-weight: 700;
    font-size: 3em;
    font-style: italic;
    letter-spacing: 1px;
    padding: 0.5em 0;
}

.seccionHighlight {
    width: 70%;
    margin: 1em auto;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    text-align: left;
}

.seccionHighlight h3 {
    font-size: 2em;
    font-weight: 800;
    font-style: italic;
    margin: 1em 0 0.2em;
}

.seccionHighlight video.video_instagram {
    width: 40%;
}

.seccionHighlight ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.seccionHighlight li {
    background: url('../img/Media/star.png') no-repeat left top;
    background-size: 40px 30px;
    height: auto;
    padding-left: 50px;
    text-align: justify;
    margin: 15px 0;
    font-size: 1em;
}

.seccionBrandLifts {
    width: 70%;
    margin: 32px auto;
    font-size: 1.2em;
}

.seccionBrandLifts h3 {
    color: #606060;
    font-style: italic;
    font-weight: 900;
    font-size: 2.5rem;
    margin-bottom: 32px;
}

.seccionBrandLifts div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2em 4em;
}

.seccionBrandLifts div img {
    width: 40%;
}

.seccionBrandLifts div p {
    width: 50%;
    text-align: left;
}

.seccionBrandLifts p.sub {
    color: #0a4d60;
    font-style: italic;
    font-weight: 900;
    font-size: 1.5em;
}

.seccionBrandLifts .BLFondo {
    width: 20%;
    position: absolute;
    bottom: 77em;
    left: 45em;
    z-index: 0;
    opacity: 0.20;
}

.seccionBrandLifts img.BLStiker {
    width: 4%;
    position: absolute;
    bottom: 77em;
    left: 43em;
}

.seccionBrandLifts img.imgTend {
    width: 50px;
    position: absolute;
    bottom: 96.5em;
    left: 51em;
}

.seccionBrandLifts .BLStiker {
    width: 10%;
}

.seccionInstagram {
    width: 70%;
    margin: 32px auto;
}

.seccionInstagram h2 {
    color: #eb5162;
    font-style: italic;
    font-weight: 900;
    font-size: 2.5rem;
}

.seccionInstagram div {
    display: flex;
    align-items: center;
    margin: 2em 0;
}

.seccionInstagram div img {
    width: 50%;
}

.seccionInstagram div p {
    font-size: 1.5em;
}

.seccionInstagram div p a {
    font-size: 1.1em;
    font-weight: 700;
}

.seccionTitleColor.ln h2 {
    color: #fff;
    font-weight: 500;
    font-size: 1.9em;
    font-style: italic;
    letter-spacing: 1px;
    padding: 0.5em 0;
    margin: 0 5em;
}

.seccionTuHogar {
    width: 70%;
    margin: 32px auto;
    font-size: 1.2em;
}

.seccionTuHogar h2 {
    color: #606060;
    font-style: italic;
    font-weight: 900;
    font-size: 2.5rem;
    margin-bottom: 32px;
}

.seccionTuHogar .THtext {
    margin: 0 auto;
}

.seccionTuHogar .THtext div {
    margin-top: 4em;
    width: 27em;
}

.seccionTuHogar .THtext div h3 {
    color: #ffad00;
    font-style: italic;
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 32px;
}

.seccionTuHogar .THtext div p {
    font-size: 1.5rem;
}

.seccionTuHogar .THtext div h3.sub {
    color: #0a4d60;
    font-style: italic;
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 32px;
}

.seccionTuHogar .THtext div img.IMGsub {
    width: 15em;
}

.seccionTuHogar .THtext .THimg {
    width: 50%;
    /* height: 50%; */
    bottom: 1em;
    position: absolute;
}

/* #0a4d60 */

@media only screen and (min-width: 1600px) {

    .seccionTitleColor.ln h2 {
        margin: 0 14em;
    }

    .seccionTuHogar .THtext div {
        width: 27em;
        left: 4em;
        position: relative;
    }

    .seccionTuHogar .THtext .THimg {
        width: 40%;
        /* height: 50%; */
        bottom: 1em;
        right: 18em;
        position: absolute;
    }

    .seccionBrandLifts .BLFondo {
        width: 20%;
        position: absolute;
        bottom: 80em;
        left: 60em;
        z-index: 0;
        opacity: 0.20;
    }

    .seccionBrandLifts img.BLStiker {
        width: 4%;
        position: absolute;
        bottom: 80em;
        left: 81em;
    }

    .seccionBrandLifts img.imgTend {
        width: 50px;
        position: absolute;
        bottom: 102.5em;
        left: 65em;
    }
}

@media only screen and (max-width: 480px) {
    .seccionMedia {
        width: 100%;
        padding: 0 2em;
    }

    .cabeceraMedia {
        width: 100%;
        background: #497bb8;
        background-size: 1000px;
    }

    .imgCabeceraMedia {
        width: 100%;
    }

    .imgMediaCelular {
        width: 120px;
        margin: 0 auto;
    }

    .subtituloMedia {
        text-align: center;
        font-size: 1.5em;
        margin: 1em 0;
    }

    .tituloMedia {
        font-size: 1.3em;
    }

    .seccionImgMedia {
        display: flex;
        flex-wrap: wrap;
        background: #fff;
        justify-content: center;
    }

    .seccionImgMedia a {
        width: 48%;
    }

    .seccionDigital {
        padding: 0.5em 0;
        margin: 1em 0 0;
    }

    .seccionBienvenida {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 2em;
        text-align: justify;
    }

    .seccionBienvenida .sub {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imgMediaBienvenida {
        width: 50%;
        margin: 0 auto;
    }

    .textoBienvenida {
        width: 100%;
        font-size: 1em;
    }

    .textoBienvenida.negrita {
        font-size: 1.3em;
    }

    .textoBienvenida br {
        display: none;
    }

    .correoMedia {
        width: 15em;
        font-size: 1em;
        padding: 0.3em;
        border-radius: 2em;
        background: #ebebeb;
        border: 0;
        outline: none;
        background-color: #ebebeb;
        border: 0;
    }

    .btn_suscribir {
        width: fit-content;
        padding: 10px 20px;
        border-radius: 10em;
        font-weight: 500;
        color: #fff;
        border: 0;
        font-size: 1em;
        background: #df1b16;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin: 0 0.4em;
        text-align: center;
        margin: 1em auto;
    }

    div.suscribirse {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
    }

    .titulo_correo {
        margin-top: 1em;
        text-align: center;
    }

    .Media .modal-dialog {
        position: relative;
        width: 18.7em;
        margin: 0.5em;
        pointer-events: none;
    }

    .imgMediaCelular {
        width: 85%;
        margin: 2em auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imgMediaFinal {
        width: 90%;
    }

    /* dsdsdsds */

    .seccionCRM h2 {
        font-size: 1.2em;
        margin: 0 0.2em;
    }

    .seccionCRM {
        width: 70%;
        margin: 32px auto;
        font-size: 1em;
    }

    .seccionCRM div {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
    }

    .seccionCRM div img {
        width: 100%;
    }

    .seccionTitleColor h2 {
        color: #fff;
        font-weight: 700;
        font-size: 1.3em;
        font-style: italic;
        letter-spacing: 1px;
        padding: 0.5em 1em;
    }

    .seccionHighlight {
        display: flex;
        flex-direction: column-reverse;
        font-size: 1em;
    }

    .seccionHighlight h3 {
        font-size: 1.2em;
    }

    .seccionHighlight img {
        width: 100%;
    }

    .seccionHighlight li {
        background: url('../img/Media/star.png') no-repeat left top;
        background-size: 25px 20px;
        height: auto;
        padding-left: 30px;
        text-align: justify;
        margin: 15px 0;
        font-size: 0.9em;
    }

    .seccionBrandLifts {
        font-size: 1em;
    }

    .seccionBrandLifts h3 {
        font-size: 1.2rem;
    }

    .seccionBrandLifts h4 {
        font-size: 1rem;
    }

    .seccionBrandLifts div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0.1em;
    }

    .seccionBrandLifts div img {
        width: 100%;
    }

    .seccionBrandLifts div p {
        width: 100%;
        text-align: justify;
    }

    .seccionBrandLifts p.sub {
        font-size: 1em;
    }

    .seccionInstagram {
        width: 70%;
        margin: 32px auto;
    }

    .seccionInstagram h2 {
        font-size: 1.2rem;
    }

    .seccionInstagram div {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 2em 0;
    }

    .seccionInstagram div img {
        width: 100%;
    }

    .seccionInstagram div p {
        font-size: 1em;
        text-align: justify;
    }

    .seccionTitleColor.ln h2 {
        font-weight: 600;
        font-size: 1.1em;
        margin: 0 1em;
    }

    .seccionTuHogar .TituloDigital {
        font-size: 1.1em;
    }

    .seccionTuHogar .THtext {
        display: flex;
        flex-direction: column-reverse;
    }

    .seccionTuHogar .THtext div {
        margin-top: 1em;
        width: auto;
    }

    .seccionTuHogar .THtext div h3 {
        color: #ffad00;
        font-style: italic;
        font-weight: 900;
        font-size: 1rem;
        margin-bottom: 0;
    }

    .seccionTuHogar .THtext div p {
        font-size: 1rem;
        text-align: justify;
    }

    .seccionTuHogar .THtext div h3.sub {
        color: #0a4d60;
        font-style: italic;
        font-weight: 900;
        font-size: 1rem;
        margin-bottom: 32px;
    }

    .seccionTuHogar .THtext div img.IMGsub {
        width: 100%;
    }

    .seccionTuHogar .THtext div a{
        font-size: 0.5em;
    }

    .seccionTuHogar .THtext .THimg {
        width: 100%;
        position: static;
    }

    .seccionHighlight video.video_instagram {
        width: 100%;
    }
    /* dfdf */

    .seccionBrandLifts .BLFondo {
        display: none;
    }

    .seccionBrandLifts img.BLStiker {
        display: none;
    }

    .seccionBrandLifts img.imgTend {
        display: none;
    }
}