/* body{
    background: darkblue;
} */
.Navbar {
    display: flex;
    align-items: center;
    background: #fff;

    padding: 0px;
    height: 70px;
    justify-content: space-around;

    /* box-shadow: 0px 4px 4px #75757540; */
}

.n-logo {
    width: 5%;
    margin-top: -25px;
    margin-left: 50px;
}

.n-logo img {
    width: 100%;
}

.n-logoMTJ {
    width: 10%;
    height: 100%;
    margin: 0 0rem;
    right: 1px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.n-logoMTJ img {
    width: 100%;
}

.direccionar {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    width: 800px;
    margin: 0 0;
    margin-bottom: -16px;
}

.direccionar div.navSecction {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    height: 70px;
    width: 300px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
}

.direccionar div.navSecction.Innovaciones {
    background: #009BAD;
}

.direccionar div.navSecction.Implementaciones {
    background: #9A0D13;
}

.direccionar div.navSecction.ParticipaYGana {
    background: #FE2629;
}

div.navSecction div.buttons {
    display: flex;
    margin-top: 0.3rem;
    justify-content: space-between;
}

button.n-button {
    background-color: transparent !important;
    border: 0px;
}

button:hover {
    transform: scale(1.15);
    transition-duration: 0.2s;
}

.cabecera button {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
}

.buttons .n-button a, .cabecera .n-button a{
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

div.vertical-line {
    width: 1px;
    background-color: #f3f3f3;
    height: 100%;
    float: left;
}