/* body{
    background: darkblue;
} */
.Navb {
    display: flex;
    align-items: center;
    background: #fff;

    padding: 0px;
    height: 80px;
    justify-content: space-around;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    box-shadow: 0px 4px 4px #75757540;
}

.n-logo {
    width: 100px;
    margin-top: -25px;
    margin-left: 50px;
}

.n-logo img {
    width: 100%;
}

.n-logoMTJ {
    width: 200px;
    height: 100%;
    margin: 0 0rem;
    right: 1px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.n-logoMTJ img {
    width: 100%;
}

.direccionar {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    width: 800px;

}

.direccionar div.navSecction {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    height: 70px;
    width: 300px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
}

.direccionar div.navSecction.Innovaciones {
    background: #009BAD;
}

.direccionar div.navSecction.Implementaciones {
    background: #9A0D13;
}

.direccionar div.navSecction.ParticipaYGana {
    background: #FE2629;
}


div.navSecction div.buttons {
    display: flex;
    margin-top: 0.3rem;
    justify-content: space-between;
}

button.n-button {
    background-color: transparent !important;
    border: 0px;
}

button:hover {
    transform: scale(1.15);
    transition-duration: 0.2s;
}

.cabecera button {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
}

.buttons .n-button a,
.cabecera .n-button a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

div.vertical-line {
    width: 1px;
    background-color: #f3f3f3;
    height: 100%;
    float: left;
}

@media only screen and (max-width: 770px) {
    .Navb {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        background: #fff;
        padding: 0px;
        height: 100px;
        width: 768px;

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;

        box-shadow: 0px 4px 4px #75757540;
    }

    .n-logo {
        width: 150px;
        margin-left: 10px;
        margin-right: 20px;
    }

    .n-logo img {
        width: 100%;
    }

    .n-logoMTJ {
        width: 200px;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0 10px 0 20px;
        right: 1px;
    }

    .n-logoMTJ img {
        width: 100%;
    }

    .direccionar {
        display: flex;
        justify-content: space-between;
        align-self: flex-end;
        width: 800px;
        margin: 0 0;
    }

    .direccionar div.navSecction {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
        height: 70px;
        width: 250px;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        padding: 0.5rem 1rem;
        margin: 0 0.05rem;
    }
}

@media only screen and (max-width: 480px) {
    .Navb {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        background: #fff;
        padding: 0px;
        height: 80px;
        width: 100%;

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;

        box-shadow: 0px 4px 4px #75757540;
    }

    .n-logo {
        width: 60px;
        margin-left: 10px;
        margin-right: 10;
    }

    .n-logo img {
        width: 100%;
    }

    .n-logoMTJ {
        width: 80px;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0 10px 0 20px;
        right: 1px;
    }

    .n-logoMTJ img {
        width: 100%;
    }

    .direccionar {
        display: flex;
        flex-direction: column;
        width: 50px;
        margin-left: -8rem;
    }

    .direccionar div.navSecction {
        width: 200px;
        height: 1.5em;
        margin: 0.08em;
        /* border-top-left-radius: 1rem;
        border-top-right-radius: 1rem; */
        border-radius: 1rem;
        padding:0px;
    }

    div.navSecction div.buttons {
        display: none;
    }
}