div.p_producto {
    margin-top: 4rem;
}

h3.p_titulo {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}

span.p_subtitulo {
    font-size: 16px;
    font-style: italic;
}

p.p_descripcion {
    font-size: 20px;
    margin: 4rem 0;
}

h4.p_titulo2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 4rem
}


h4.p_titulo2.sinPublicidad{
    display: none;
}

div.p_publicidad {
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem 0;
    align-content: space-between; */
    display: grid;
    gap: 1rem;
    /* grid-auto-rows: 22rem; */
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem), 1fr));
    margin: 1em auto 5em;
}

div.p_pub {
    margin: 1rem 0;
}

img.p_imgPrincipal {
    width: 80%;
    height: 80%;
}

/* @media only screen and (max-width: 770px){
    img.p_imgPrincipal{
        width: 100%;
        height: 100%;
        margin: 0 2em;
    }
} */

h4.p_fecha {
    width: 200px;
    padding: 1rem;
    border-radius: 10rem;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    margin: 2rem auto;
}

h4.p_fecha.oral {
    background: #A71917;
}

h4.p_fecha.personal {
    background: #2e3d90;
}

h4.p_fecha.home {
    background: #009DA8;
}

div.linea {
    height: 1px;
    background-color: rgb(207, 207, 207);
}

@media only screen and (max-width: 480px) {
    h3.p_titulo {
        font-size: 2em;
    }
    p.p_descripcion {
        font-size: 1em;
        text-align: justify;
        margin: 2em 0px;
    }
    h4.p_titulo2 {
        font-size: 1.4em;
        margin: 1em 0;
    }
    img.p_imgPrincipal {
        width: 100%;
        height: 100%;
    }
}