div.b_banner{
    background: #009BAD;
    width: 100% !important;
    margin: 4rem 0;
    padding: 1rem 0;
}

div.cont{
    display: flex;
    background: #009BAD;
    justify-content: space-between;
    align-items: center;
    width: 100% !important;
    color: #fff;
}
.b_text{
    text-align: left;
}

.b_text h2{
    font-weight: 700;
    font-size: 48px;
}

.b_text span{
    font-style: italic;
    font-size: 14px;
    bottom: 4rem;
}

.b_text p{
    font-size: 27px;
    bottom: 4rem;
}

div.b_img img.b_svg{
    width: 150px;
    box-shadow: 0px 0px 0px !important;
}
