.Body_Trends {
    background: #f3f3f3;
}

.Body_Trends_container {
    width: 1fr;
    height: 1fr;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f3f3f3;
}

.Body_Trends_animacion {
    width: 1300px;
    height: 1fr;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3f3f3;
    position: relative;
    bottom: 230px;
}

div.container_trends {
    margin: 5rem;
    width: 50%;
    height: 50%;
}

div.container_trends_titulo {
    width: 400px;
    z-index: 10;
}

.buttonsTrends {
    position: relative;
    z-index: 10;
}

.buttonsTrends.desktop {
    display: none;
}

.buttonsTrends.movil {
    display: flex;
}

.buttonsTrends_m {
    display: none;
}

.buttonsTrends button {
    width: 300px;
    padding: 25px 35px;
    border-radius: 10em;
    background: rgba(149, 147, 146, 0.50);
    font-weight: 500;
    color: #fff;
    border: 0;
    font-size: 1.7em;
}

.buttonsTrends button:hover {
    background: #df1b16;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.boton1 {
    position: relative;
    left: 150px;
}

.boton2 {
    position: relative;
    right: 150px;
}

button a,
button a:hover {
    text-decoration: none;
    color: #fff;
}

.seccion_trends{
    margin-bottom: 85px;
    color: #f3f3f3;
}

@media only screen and (max-width: 480px) {
    .Body_Trends_animacion {
        width: 90% !important;
        margin: 6em auto;
    }

    div.container_trends {
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .Body_Trends_animacion {
        width: 1300px;
        height: 1fr;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #f3f3f3;
        position: relative;
        bottom: 230px;
    }

    .buttonsTrends button {
        width: 150px;
        padding: 25px 35px;
        border-radius: 10em;
        font-weight: 500;
        color: #fff;
        border: 0;
        font-size: 1.7em;
        background: #df1b16;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin: 0 0.4em;
        text-align: center;
    }

    .boton1_m, .boton2_m{
        text-align: center;
        transform: none !important;
    }
    .boton1_m a{
        margin: 0;
        position: relative;
        right: 0.4em;
    }

    .boton1_m:hover, .boton2_m:hover{
        transform: none !important;
    }

    button a,
    button a:hover {
        text-decoration: none;
        color: #fff;
    }
}

@media only screen and (max-width: 812px) and (orientation: landscape){
    
}